@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent: #F50057;
    --accent-2: #FFC000;
    --accent-3: #FF4081;
    --dark: #393637;
    --black: #0B090A;
    --main-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
body {
    margin: 0;
    padding: 0;
    background: var(--black);
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.container {
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh);
    max-width: 430px;
    -webkit-box-shadow: 0px 0px 500px 0px rgba(255, 255, 255, 0.07);
    -moz-box-shadow: 0px 0px 500px 0px rgba(255, 255, 255, 0.07);
    box-shadow: 0px 0px 500px 0px rgba(255, 255, 255, 0.07);
    position: relative;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.d-none {
    display: none !important;
}
#clicker {
    flex-grow: 1;
    background-image: url("/assets/images/mia.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#clicker-zone {
    flex-grow: 1;
    width: 100%;
}
#clicker nav {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    width: calc(100% - 1em);
}
.nav-col {
    width: calc(50% - 1em);
}
.nav-el {
    background: var(--dark);
    margin-bottom: .5em;
    border-radius: 1em;
    padding: .3em .5em;
    line-height: 1.7em;
    display: flex;
    justify-content: space-between;
    font-size: .88em;
    align-items: center;
}
#clicker nav svg {
    width: 1.7em;
}

#clicker #bar-container {
    padding: .4em;
    width: calc(100% - .8em);
}
#clicker #bar {
    width: 100%;
    background-color: var(--black);
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    border-radius: 1em;
    height: 1.75em;
    position: relative;
}
#clicker #bar #bar-filled-start {
    background: var(--accent);
    border-radius: 1em;
    height: 1.75em;
}
#clicker #bar #bar-filled-end {
    background: var(--accent-2);
    border-radius: 1em;
    height: 1.75em;
    position:absolute;
    top:0;
    right: 0;
}
#clicker #bar #bar-value-start {
    font-size: .95em;
    line-height: 1.75em;
    position:absolute;
    top: .2px;
    left: 8px;
}
#clicker #bar #bar-value-end {
    font-size: .95em;
    line-height: 1.75em;
    position:absolute;
    top: .2px;
    right: 8px;
}

#chat {
    padding: 10px;
    background: var(--dark);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: calc(180 / (320 + 180) * 100vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#messages {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
}
.message {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 8px;
}
.message.out {
    justify-content: end;
}
.message > * {
    border-radius: 8px;
    padding: .4em .6em;
    background: var(--black);
    min-width: 50%;
    max-width: 80%;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
}


#send {
    padding-top: .5em;
    display: flex;
    justify-content: space-between;
}
#send > * {
    background: var(--black);
    border: 0;
    color: #fff;
    font-size: 1.1em;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
}
#send input {
    flex-grow: 1;
    border-radius: 0;
    padding: .58em .8em;
    border-radius: 0;
}
#menu-container-float {
    position:sticky;
    bottom: 10px;
    border-radius: 8px;
    padding: .21em 2.3em;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
}
#menu-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    padding-right: 2.3em;
}
#menu {
    padding: .3em;
    width: max(12em, 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#send input::placeholder {
    color: var(--dark);
    opacity: 1;
}
#send > input::-ms-input-placeholder {
    color: var(--dark);
}
#send > button:first-child {
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .3em;
}

#send > button:last-child {
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .3em;
}
#send > button path {
    stroke: var(--accent);
}
#send svg, #menu svg {
    width: 1.7em;
    height: 1.7em;
}
#menu path {
    stroke: var(--dark);
}
#menu a.active path {
    stroke: var(--accent);
    fill: var(--accent);
}
#menu a {
    line-height: 0;
    text-decoration: none;
}
#shop-items {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2em;
    margin-top: .5em;
}
.shop-item {
    display: block;
    text-decoration: none;
    margin: .5em;
    padding: .5em;
    background: #fff;
    width: calc(50% - 2em);
    border-radius: 8px;
    color: #000;
    text-align: center;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
    -moz-box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.shop-item p.title {
    font-weight: 500;
    margin-top: .8em;
    margin-bottom: .3em;
    font-size: 1em;
}
.shop-item p {
    font-weight: 400;
    margin-top: .3em;
    margin-bottom: .5em;
    font-size: .7em;
}
.shop-item .img {
    width: 100%;
    aspect-ratio: 3/2;
    background-size: cover;
    background-position: center;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
}